*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    align-self: center;
    align-items: center;
    justify-content: center;

    background: #1d2e4a;
}
body:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(55% at right 50%);
    background: #fba311;
}





.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 16px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container form{
    position: relative;
    margin-left: 6%;
    margin-right: 6%;
    min-height: 490px;
    background-color: #fff;
    text-align: center;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(150% / 3 - 75px);
    flex-direction:column;
    margin: 1px 0;
}
.input-field label{
    font-weight: 500;
    color: #1C2E4A;
    line-height: 11px;
    font-style: normal;
    margin-left:4% ;
    text-align:left;


    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;



}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 13px;
    border: 0px solid #aaa;
    padding: 0 15px;
    height: 2.6rem;
    background: #E9E9E9;


}

form .form button{
    text-align: center;
}

.container form button, .btn{
    color: #FCA311;
    border-radius: 6px;
    background: #1C2E4A;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.055em;
    width: 130px;
    height: 37px;
    left: 638px;
    top: 888px;
    margin-top: 7rem;

}












h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
