@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Display';
}
a{
    font-size: large;
}
button{
    width:10rem;
    height: 5rem;
    left:35rem;
    top:7rem;
    margin-top: 5%;
    border: 1px solid #FCA311;
    border-radius: 4px;
    font-weight: 1000;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.14em;
    color: #1C2E4A;
    background-color: #ffffff;
}

body{
    display: flex;
    width: 100%;
    height: 150vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(140deg, #1d2e4a 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 100% 0%, #fba311 70%, #1d2e4a 70%);

}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 16px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container form{
    position: relative;
    margin-left: 6%;
    margin-right: 6%;
    min-height: 490px;
    background-color: #fff;
    text-align: center;
}
.container form .fields{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap:wrap;
}
form .fields .input-field{
    display:flex;
    width: calc(150% / 3 - 75px);
    flex-direction:column;
    margin: 0px 0;
}
.input-field ul{
    font-size: 1rem;
    font-weight: 500;
    color: #1C2E4A;
    line-height: 31px;
    font-style: normal;
    text-align:left;
}

.input-field ul small{
    font-size: 12px;
    color: #37A72D;
    padding-left: 5%;
}
h1{
    text-align:left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h2{
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align:center;
    color: #1C2E4A;
    margin: 1rem;
}
.line{
    width: 732px;
    height: 0px;
    top: 406px;
    border: 1px solid #FCA311;
}


.icons{
    position: fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
}

.icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    margin:0px;
    padding: 0px;
    line-height:0px;
    background-color:#FFFFFF;
    border:1px solid #CBCBCB;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}

.icons i{
    font-size:20px;
    color:#FCA311;
}


.dot {
    height: 8px;
    width: 8px;
    background-color: #d51515;
    border-radius: 50%;
    display: inline-block;
}


.fortext{
    text-align: left;
}
.input-field li::marker{
    color: #fba311;
    font-weight: 800rem;
    font-size: 1.2rem;

}
.input-field li{


    margin-left: 6rem;
}

.licolor{
    color: #1C2E4A;
}


